a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

button:disabled,
.btn:disabled {
    cursor: not-allowed !important;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.background-normal {
    background-color: #003153;
}

.sound-fav-btn {
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    font-size: 20px;
}

    .sound-fav-btn:hover{
        color: gray;
    }

    .toastr-top-center {
        top: 12px;
        left: 50%;
        margin: 0 0 0 -150px;
    }

.clearable-input {
    height: 45px;
    padding-right: 2.5rem;
}

.btn-clear {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    border: none;
    background: none;
    color: #ccc;
    font-size: 20px;
    padding: 0;
    line-height: 1; 
    cursor: pointer;
    z-index: 2;
    display: none; /* скрыт по умолчанию */
}

/*Настройка для тостера на мобилке*/
/* Override Toastr container for top-center on small screens */
#toastr-container.toast-top-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: auto !important;
    margin-left: 0 !important;
    max-width: 90vw !important;
    width: max-content !important;
    text-align: center;
    box-sizing: border-box;
    top: 1rem;
    z-index: 9999;
}