a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.my-card {
    background-color: #181735;
    font-size: 20px;
}

    .my-card:hover {
        box-shadow: 0px 0px 40px -15px rgba(66, 68, 90, 1);
    }

.text-big {
    font-size: 20px;
}

.text-large {
    font-size: 38px;
}

.text-to-learn {
    font-size: 40px;
    color: wheat;
}

.background-normal {
    background-color: #003153;
}

.table-align {
    text-align: center;
    vertical-align: middle;
}

.table-data {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
    font-size: 26px;
}

.zoom-img {
    width: 150px;
    height: 100px;
}

.sound-fav-btn {
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    font-size: 20px;
}

    .sound-fav-btn:hover {
        background-color: black;
    }

.tile {
    margin-top: 40px;
    background-color: #003142;
    transform-style: preserve-3d;
    transition: all 0.5s;
    width: 1100px;
    height: 600px;
    max-height: 700px;
}

    .tile:hover {
        box-shadow: 0px 0px 40px -15px rgba(66, 68, 90, 1);
    }

.tile__face {
    backface-visibility: hidden;
    /*hide element on back*/
}

.tile__face--back {
    transform: rotateX(180deg);
}

.tile.is-flipped {
    transform: rotateX(-180deg);
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    /* Whatever width you want */
}

.avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-img {
    width: 100%;
    height: 100%;
}

.settings-container {
    display: flex;
    align-items: center;
}

.user-link-photo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    min-height: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-container-header {
    height: 80px;
}

.toastr-top-center {
    top: 12px;
    left: 50%;
    margin: 0 0 0 -150px;
}

img {
    width: auto;
    height: 100%;
}